extends layout

block content
  div.class.w3-cyan.w3-center
    //h1= title
    p Welcome to #{title}
  div
  div
    ul.w3-ul.w3-hoverable.w3-border(Style="width:30%")
      li: a(href="#target1", title="Home") Start couchDB server
      <li>Eve</li>
      <li>Adam</li>
    

    //a.w3-btn(href="http://localhost:5984/_utils/") Link Button
  div